# Python 관련 파일
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 가상환경 폴더
venv/
.env/
*.env

# Django 관련 파일
*.sqlite3
*.log

# IDE 설정 파일
.vscode/
.idea/

# OS 관련 파일
.DS_Store
Thumbs.db

# 기타
*.bak
*.swp
*.tmp
*.temp
*.old
*.orig
*.rej
*.swo
*.swn
*.un~