<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>ThoughtBoard</title>
  <style>
    nav {
      background: #f3f4f6;
      padding: 12px 20px;
    }

    nav a {
      margin-right: 12px;
      text-decoration: none;
      color: #1E3A8A;
      font-weight: 600
    }
  </style>
</head>

<body>
  <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'create_post' %}">Write</a>
    {% if user.is_authenticated %}
    <a href="{% url 'my_posts' %}">My Posts</a>
    <span style="margin-left:8px;">Logged in as {{ user.username }}</span>
    <a href="{% url 'logout' %}?next={% url 'home' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
  </nav>

  {% block content %}{% endblock %}
</body>

</html>